<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatty | Login with Provider</title>
<script src="https://replit.com/public/js/repl-auth-v2.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="single-panel">
    <div class="padded panel no-m">
      <h1>chatat</h1>
      <p>an app by ktat</p>
      <button onclick="LoginWithReplit()"> Login </button>
    </div>
  </div>
</body>
</html>